:root{
  font-size: 16px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#actors{
  text-align: center;
}
.actors-heading,
.card-name,
.card-info{
  text-transform: capitalize;
  padding: 10px 0;
}
.cards-container{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-wrapper{
  margin: 10px;
}
.card-container{
  width: 300px;
  border:1px solid #aaa;
}
.card-photo-wrapper{
  width: inherit;
  height: 350px;
  position: relative;
}
.card-photo-wrapper > *{
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.card-initials{ 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 5rem;
}
.card-photo{
  object-fit: cover;
  object-position: top;
}